.hero_wrapper {
  background-image: url("https://images.unsplash.com/photo-1605433247501-698725862cea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40rem;
  margin: 4rem 0;
}
