.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header {
 text-align: center;
 margin: 4rem 0;
 font-weight: normal;
}
@media(max-width: 767px) {
  
}
.header::before,
.header::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid black;
    width: 8rem;
    margin: 0 1rem;
    transform: translateY(-.5rem);
}
@media(max-width: 767px) {
  .header::before,
  .header::after {
    width: 3rem;
}
.header {
  font-size: 1.25rem;
   }
}
