.card {
  width: 48%;
  margin-bottom: 3rem;
}

@media(max-width: 1023px) {
  .card {
    width: 100%;
    
  }
}
.imageContainer {
  width: 100%;
}

.imageContainer > div {
  position: unset !important;
}

.image {
  cursor: pointer;
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.card_descr {
  font-size: 1rem;
}

